- var AppName = "WebApp"
- var cfg_name = "Bao Nguyen"
- var analytics = 'UA-79215807-1'
- var app_appleID = '12345678'
- var seo_geo = 'VN-64'
- var seo_geo_lng = '106.673089'
- var seo_geo_dlg = '10.359352'
- var app_facebook_adminsID = 'XXXXXXX,XXXXXXX'
- var app_facebook_ID = '100000511421818'
- var cfg_description = "I’ve been designing profesionally since 2003. I founded GC Com in 2008."
- var cfg_keywords = "Bao Nguyen, Bảo Nguyên, Brands Designer, Web Developer, Apps Developer, Photograper, Front-End Developer"
- var cfg_title = "Bao Nguyen - Bảo Nguyên - Brands Designer/Web Developer/Apps Developer/Photograper/Front-End Developer"
- var cfg_content= "Brands Designer/Web Developer/Apps Developer/Photograper/Front-End Developer"
- var cfg_author = "Bao Nguyen"
- var cfg_url = "baonguyenyam.github.io"
- var cfg_sitenameurl = "baonguyenyam" 