extends ../_layout/layout
//- Variables for each page 
block variables
  - var title = 'About Page'
  - var bodyclass = 'about'
//- Begin page
block body 
  h1=config.title
  p=config.SEO.cfg_description